*{
    color:#DFB6B2;
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
  }

body {
  height: 100vh;
  background: linear-gradient(to bottom, #854F6C, #522B5B, #2B124C);
  color: var(--text);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin: 120px auto 0 auto;
  max-width: 800px;
}

.stats {
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #ad7ac3;
  box-shadow: 0 0 10px #201326;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px; 
}

.details{
  width: 100%;
}

#numbers{
  width: 100px;
  height: 100px;
  background: #ad7ac3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 500;
}

#progress-bar{
  width: 100%;
  height:10px;
  background: #a274b65c;
  border-radius: 7px;
}

#progress{
  width: 50%;
  height: 10px;
  background: #ad7ac3f8;
  border-radius: 7px;
  transition: all 0.3s ease;
}

form {
  width: 600px;
  margin: 20px;
  display: flex;
  color: #DFB6B2;
  outline: none;
}

input{
  flex: 1;
  padding: 15px;
  border-radius: 7px;
  border: 2px solid #ad7ac3;
  background: #522b5b24;
  margin-right: 10px;
  box-shadow: 0 0 10px #201326;
}

button{  
  display:flex;
  align-items: center;
  border: 2px solid #ad7ac3;
  background: #522b5b37;
  justify-content: center;
  width:50px;
  height:50px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  box-shadow: 0 0 10px #201326;
  outline: none;
  cursor: pointer;
}

button:hover{
  background-color: #b174cc;
  box-shadow: 0 0 10px #3d25476f;
}

.tasklist {
  margin: 20px 0 0 0;   
  padding: 0;            
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

#tasklist li {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border: 2px solid #ad7ac3;
  border-radius: 7px;
  box-shadow: 0 0 10px #201326;
  width: 600px;          
  padding: 7px;            
  margin: 10px 0;
  font-weight: 500;
  font-size: 20px;
  color: rgb(209, 182, 146);
  list-style: none;
  height: 50px;
}

#tasklist li:hover{
  background-color: #71398996;
  box-shadow: 0 0 10px #6d3d8293;
}

#tasklist li p{
  flex-grow: 1;
}

#tasklist li button {
  height: 100%;          
  padding: 0 15px;      
  border: none;
  border-radius: 2px; 
  background: #8e44ad; 
  color: rgb(209, 182, 146); 
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
}

#tasklist li button:hover{
  background-color: #3c2646;
  box-shadow: 0 0 10px  #77458c6f;
}

#tasklist li button:hover{
  box-shadow: 0 0 10px #330349;
}















